<h3 class="title">Star rating</h3>


<div class="container">
  <div class="row">
    <div class="button-wrapper">
      <button class="btn-slider"><i class="bi bi-star-fill" style="color: #FFA450;"></i><br>3+</button>
      <button class="btn-slider"><i class="bi bi-star-fill" style="color: #FFA450;"></i> <br>3+</button>
      <button class="btn-slider" style="background-color: #3484FF; color: white;"><i class="bi bi-star-fill" style="color: #FFA450;"></i> <br>4.5</button>
    </div>
  </div>
</div>
