<div class="container" id="search-container">
  <div class="row">
    <div class="col-10">
      <input type="text" placeholder="Search.." class="form-control" />
    </div>
    <div class="col-2">
      <i id="bell" class="bi bi-bell"></i>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="container">
    <div class="row">
      <div class="card">
        <img class="card-img-top"  src="../../assets/Thumbnail.jpg" alt="Card image cap">
        <div><img class="logo" src="../../assets/Logologo.jpg" alt=""></div>
        <p class="img-text">Make your own perfect day in <br>
          Montenegro🔥</p>
          <button class="dugme" (click)="onCreateTour()"> Create </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
<div class="button-wrapper">
  <button class="btn-slider1"><i class="bi bi-layout-wtf"></i> All</button>
  <button class="btn-slider"><i class="bi bi-bank"></i>Culture</button>
  <button class="btn-slider">Button 1</button>
  <button class="btn-slider">Button 1</button>
  <button class="btn-slider">Button 1</button>
  <button class="btn-slider">Button 1</button>
</div>
</div>
</div>

<div class="container">
  <div class="row" id="tekst-row">
    <p class="tekst" style="display: inline;">Featured tours</p>
    <p style="display: inline;"><a href="#">View</a></p>
  </div>
</div>


<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let tour of toursData">
      <div class="card">
        <img
          class="card-img-top"
          [src]="tour.slika"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text"  style="margin-right: 50px; display: inline;" >
            {{tour.tip}}  |
          </p>
          <p class="card-text" style="display: inline;"  > <i class="bi bi-star-fill"></i>{{tour.ocjena}}</p>
          <p class="card-text"><b>{{tour.opis}}</b></p>
          <p class="card-text" style="display: inline; margin-right: 70px;"><i class="bi bi-pin-fill"></i>{{tour.lokacija}}</p>
          <p class="card-text" style="display: inline; ">{{tour.cijena}}</p>
        </div>
      </div>
    </div>
    <!-- <div class="swiper-slide">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Thumbnailslika.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Adventure | <i class="bi bi-star-fill"></i> 4,5
          </p>
          <p class="card-text"><b>Happy snorkeling in the sea</b></p>
          <p class="card-text">$140 / Person</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Thumbnailslika.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Adventure | <i class="bi bi-star-fill"></i> 4,5
          </p>
          <p class="card-text"><b>Happy snorkeling in the sea</b></p>
          <p class="card-text">$140 / Person</p>
        </div>
      </div>
    </div> -->
  </div>
</div>
<app-activities></app-activities>
<br>
<app-popular-places></app-popular-places>
