<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let activity of activitisData">
      <div class="card">
        <img
          class="card-img-top"
          [src]="activity.slika"
          alt="alt"
        />
        <div class="card-body">
          <p class="card-text"  style="margin-right: 50px; display: inline;" >
            {{ activity.tip }}  |
          </p>
          <p class="card-text" style="display: inline;"  > <i class="bi bi-star-fill"></i> {{ activity.ocjena }}</p>
          <p class="card-text"><b>{{activity.opis}}</b></p>

          <p class="card-text" style="display: inline; margin-right: 70px;"><i class="bi bi-pin-fill"></i>{{activity.lokacija}}</p>
          <p class="card-text" style="display: inline; ">{{activity.cijena}}</p>


        </div>
      </div>
    </div>
    <!-- <div class="swiper-slide">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Thumbnailslika.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Adventure | <i class="bi bi-star-fill"></i> 4,5
          </p>
          <p class="card-text"><b>Happy snorkeling in the sea</b></p>
          <p class="card-text">$140 / Person</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Thumbnailslika.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Adventure | <i class="bi bi-star-fill"></i> 4,5
          </p>
          <p class="card-text"><b>Happy snorkeling in the sea</b></p>
          <p class="card-text">$140 / Person</p>
        </div>
      </div>
    </div> -->
  </div>
</div>
