<div class="container">
  <div class="row" id="tekst-row">
    <p class="tekst" style="display: inline;">Activities</p>
    <p style="display: inline;"><a href="#">View</a></p>
  </div>
</div>

<div class="container">
  <!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let activity of activitiesData">
      <div class="card" (click)="onLoad(activity)">
        <img
          class="card-img-top"
          src= "../../assets/Thumbnailslika.png"
          alt="alt"
        />
        <div class="card-body">
          <p class="card-text"  style="margin-right: 50px; display: inline;" >
            {{activity.category}}  |
          </p>
          <p class="card-text" style="display: inline;"  > <i class="bi bi-star-fill"></i> {{ activity.ranking }}</p>
          <p class="card-text"><b>{{activity.name}}</b></p>
           <p class="card-text" style="display: inline; margin-right: 80px;"><i class="bi bi-pin-fill"></i>{{activity.city}}</p>
          <p class="card-text" style="display: inline;">{{activity.pricing[0].price}} $ / Person</p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
