<h3 class="title">Your interests</h3>

<!-- <div class="container">
  <div class="row">Outdoor activity</div>
  <div class="row">Wine tasting</div>
  <div class="row">Eco villages</div>
  <div class="row">Relaxing</div>
  <div class="row">Music Festivals</div>
</div> -->

<div class="container" style="max-width: 80%;">
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item"><i class="bi bi-tree"></i> Outdoor activity  <input type="radio" class="radio"></li>
      <li class="list-group-item"><i class="bi bi-trash2"></i> Wine tasting  <input type="radio" class="radio"></li>
      <li class="list-group-item"><i class="bi bi-sun"></i> Eco villages  <input type="radio" class="radio"></li>
      <li class="list-group-item"><i class="bi bi-headphones"></i> Relaxing  <input type="radio" class="radio"></li>
      <li class="list-group-item"><i class="bi bi-music-note-list"></i> Music festivals  <input type="radio" class="radio"></li>
    </ul>
  </div>
</div>
