.title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
text-align: center;
color: #1F2933;
}


.btn-slider{
  width: 100px;
  height: 100px;
  background: #FFFFFF;
box-shadow: 0px 24px 82px rgba(49, 79, 124, 0.08);
border-radius: 24px;
color: #8B9CAF;
border: none;
}


.button-wrapper{
  display: flex;
  justify-content: space-between;

}




.div-btn{
  margin-top: 35px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.start-btn {
  background: #3484FF;
  width: 327px;
  height: 56px;
  color: white;
box-shadow: 0px 18px 21px rgba(52, 132, 255, 0.24);
border-radius: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px
}
