<br>
<h3 class="title">Your budget</h3>


<div class="container">
  <div class="row">
    <div class="button-wrapper">
      <button class="btn-slider"><i class="bi bi-cash-coin"></i><br>Economy</button>
      <button class="btn-slider"><i class="bi bi-cash-stack"></i><br>Normal</button>
      <button class="btn-slider" style="background-color: #3484FF; color: white;"><i class="bi bi-currency-exchange"></i><br>Luxury</button>
    </div>
  </div>
</div>


<div class="div-btn">
<button class="start-btn">Get started</button>
</div>
