.my-btn{
  border-radius: 40px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
}
.back{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
}
#h-1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #1F2933;
  margin-left: 10%;
}
#h-2{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #1F2933;
margin-left: 10%;
}
.my-btns{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.f-btn{
  width: 100px;
  height: 43px;
  background: #FFFFFF;
  /* shadow */
  box-shadow: 0px 24px 82px rgba(49, 79, 124, 0.08);
  border-radius: 24px;
  border: none;
}

.btn-slider{
width: 100px;
height: 100px;
background: #FFFFFF;
box-shadow: 0px 24px 82px rgba(49, 79, 124, 0.08);
border-radius: 24px;
border: none;
}
.button-wrapper{
  display: flex;
  justify-content: space-between;
}
.my-icon {
  font-size: 30px; /* Podesite veličinu ikonice prema vašim potrebama */
}
.h-3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #1F2933;
  margin-left: 10%;
}

.my-btns-2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.f-btn2{
  width: 100px;
  height: 43px;
  background: #ffff;
  box-shadow: 0px 24px 82px rgba(49, 79, 124, 0.08);
  border-radius: 24px;
  border: none;
}
.f-btn3{
width: 100px;
height: 43px;
background: #FFFFFF;
box-shadow: 0px 24px 82px rgba(49, 79, 124, 0.08);
border-radius: 24px;
border: none;


}
.mat-slider {
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
}
.end{
  display: flex;
  justify-content: center;
}
.my-btns-3{
  display: flex;
  justify-content: space-between;
}

.f-btn-4{
background: #FFFFFF;
width: 80px;
box-shadow: 24px 0px 48px rgba(49, 79, 124, 0.08);
border-radius: 24px;
border: none;
}

.f-btn2-4{
  width: 254px;
  height: 56px;
  background: #3484FF;
  box-shadow: 0px 16px 32px rgba(52, 132, 255, 0.24);
  border-radius: 56px;
  border: none;
  color: white;
}





