<h3 class="title">Travel with</h3>

<div class="container">
  <div class="row">
  <div class="button-wrapper">
    <button class="btn-slider"><i class="bi bi-person"></i>Person</button>
    <button class="btn-slider"><i class="bi bi-people"></i>Couple</button>
    <button class="btn-slider"><i class="bi bi-people-fill"></i> Family</button>
    <button class="btn-slider"><i class="bi bi-person-fill-add"></i>Friends</button>
  </div>
  </div>
  </div>
  <br>
  <div class="container" id="btn-container">
    <div class="row" id="row1"><button class="btn1"(click)="umanji()" >-</button> {{br}} Adult <button class="btn2" (click)="uvecaj()">+</button> </div>
    <div class="row" id="row1"><button class="btn1" (click)="childrenMinus()" >-</button> {{childrenBr}} Children <button class="btn2" (click)="childrenPlus()" >+</button> </div>
  </div>
<br>

